.feed-title{
    color: var(--color-text-secondary);
    font-size: 30px;
}

.feed-page-container{
    width: 100%;
}

.feed-card-container {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .feed-card-container:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  }
  